In [13]:
import pandas as pd
import numpy as np
import collections as cls

In [10]:
train=pd.read_csv('..\\train.csv')

In [12]:
train.head()

,item_nbr,date,store_nbr,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
0,103501,2015-02-13,10,2.0,False,C,15,52.66,0,0,CLEANING,3008,0
1,103501,2015-02-13,17,7.0,False,C,12,52.66,0,0,CLEANING,3008,0
2,103501,2015-02-13,18,2.0,False,B,16,52.66,0,0,CLEANING,3008,0
3,103501,2015-02-13,20,7.0,False,B,6,52.66,0,0,CLEANING,3008,0
4,103520,2015-02-13,1,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0

In [63]:
stores=list(cls.Counter(train.store_nbr).keys())

In [88]:
train_str1=train.iloc[train.index[train.store_nbr==1]]
train_str1=train_str1.drop('store_nbr', axis=1)

In [89]:
train_str1.head()

,item_nbr,date,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
4,103520,2015-02-13,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0
31,105574,2015-02-13,3.0,False,D,13,52.66,0,0,GROCERY I,1045,0
44,105575,2015-02-13,9.0,False,D,13,52.66,0,0,GROCERY I,1045,0
62,105577,2015-02-13,5.0,False,D,13,52.66,0,0,GROCERY I,1045,0
85,106716,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1032,0

In [91]:
train_str1.T

,4,31,44,62,85,134,161,178,209,217,...,33746113,33746131,33746143,33746153,33746168,33746182,33746199,33746219,33746237,33746249
item_nbr,103520,105574,105575,105577,106716,108698,108786,108797,108862,108952,...,2110456,2111684,2111870,2112404,2113343,2113914,2114566,2116416,2122188,2124052
date,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,2015-02-13,...,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31,2017-07-31
unit_sales,6,3,9,5,1,1,2,1,1,3,...,12,5,2,5,5,14,2,3,3,3
onpromotion,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
type,D,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
cluster,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
dcoilwtico,52.66,52.66,52.66,52.66,52.66,52.66,52.66,52.66,52.66,52.66,...,50.21,50.21,50.21,50.21,50.21,50.21,50.21,50.21,50.21,50.21
hol_National,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hol_Regional,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
family,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,DELI,CLEANING,GROCERY I,GROCERY I,CLEANING,...,BEVERAGES,BEVERAGES,PRODUCE,DAIRY,BEVERAGES,CLEANING,GROCERY I,GROCERY I,GROCERY I,"LIQUOR,WINE,BEER"
class,1028,1045,1045,1045,1032,2644,3044,1004,1062,3024,...,1120,1120,2028,2108,1114,3040,1034,1060,1084,1318
perishable,0,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0

In [93]:
train.head()

,item_nbr,date,store_nbr,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
0,103501,2015-02-13,10,2.0,False,C,15,52.66,0,0,CLEANING,3008,0
1,103501,2015-02-13,17,7.0,False,C,12,52.66,0,0,CLEANING,3008,0
2,103501,2015-02-13,18,2.0,False,B,16,52.66,0,0,CLEANING,3008,0
3,103501,2015-02-13,20,7.0,False,B,6,52.66,0,0,CLEANING,3008,0
4,103520,2015-02-13,1,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0

In [94]:
train_str1

,item_nbr,date,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
4,103520,2015-02-13,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0
31,105574,2015-02-13,3.0,False,D,13,52.66,0,0,GROCERY I,1045,0
44,105575,2015-02-13,9.0,False,D,13,52.66,0,0,GROCERY I,1045,0
62,105577,2015-02-13,5.0,False,D,13,52.66,0,0,GROCERY I,1045,0
85,106716,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1032,0
134,108698,2015-02-13,1.0,True,D,13,52.66,0,0,DELI,2644,1
161,108786,2015-02-13,2.0,False,D,13,52.66,0,0,CLEANING,3044,0
178,108797,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1004,0
209,108862,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1062,0
217,108952,2015-02-13,3.0,False,D,13,52.66,0,0,CLEANING,3024,0
234,111223,2015-02-13,7.0,False,D,13,52.66,0,0,GROCERY I,1034,0
252,111397,2015-02-13,4.0,False,D,13,52.66,0,0,GROCERY I,1072,0
269,112830,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1044,0
284,114778,2015-02-13,3.0,False,D,13,52.66,0,0,GROCERY I,1016,0
298,114790,2015-02-13,3.0,False,D,13,52.66,0,0,GROCERY I,1004,0
314,114799,2015-02-13,1.0,False,D,13,52.66,0,0,PERSONAL CARE,4126,0
330,114800,2015-02-13,8.0,False,D,13,52.66,0,0,PERSONAL CARE,4126,0
343,115267,2015-02-13,1.0,False,D,13,52.66,0,0,CLEANING,3034,0
360,115611,2015-02-13,7.0,True,D,13,52.66,0,0,GROCERY I,1014,0
377,115693,2015-02-13,2.0,False,D,13,52.66,0,0,GROCERY I,1040,0
389,115720,2015-02-13,8.0,False,D,13,52.66,0,0,GROCERY I,1084,0
408,115850,2015-02-13,14.0,False,D,13,52.66,0,0,GROCERY I,1004,0
426,115891,2015-02-13,4.0,False,D,13,52.66,0,0,GROCERY I,1016,0
442,115892,2015-02-13,5.0,False,D,13,52.66,0,0,GROCERY I,1016,0
460,115893,2015-02-13,12.0,False,D,13,52.66,0,0,GROCERY I,1016,0
478,115894,2015-02-13,3.0,False,D,13,52.66,0,0,GROCERY I,1016,0
496,116017,2015-02-13,4.0,False,D,13,52.66,0,0,GROCERY I,1072,0
514,116018,2015-02-13,1.0,False,D,13,52.66,0,0,GROCERY I,1072,0
534,116311,2015-02-13,1.0,False,D,13,52.66,0,0,CLEANING,3090,0
573,119026,2015-02-13,1.0,False,D,13,52.66,0,0,CLEANING,3026,0
...,...,...,...,...,...,...,...,...,...,...,...,...
33745720,2081139,2017-07-31,1.0,False,D,13,50.21,0,0,PREPARED FOODS,2986,1
33745737,2081142,2017-07-31,5.0,False,D,13,50.21,0,0,PREPARED FOODS,2980,1
33745765,2081175,2017-07-31,16.0,False,D,13,50.21,0,0,PREPARED FOODS,2960,1
33745794,2083859,2017-07-31,12.0,False,D,13,50.21,0,0,BEVERAGES,1118,0
33745808,2084278,2017-07-31,1.0,False,D,13,50.21,0,0,BEVERAGES,1122,0
33745821,2084557,2017-07-31,2.0,False,D,13,50.21,0,0,CLEANING,3040,0
33745846,2086882,2017-07-31,4.0,False,D,13,50.21,0,0,DAIRY,2166,1
33745864,2087374,2017-07-31,11.0,False,D,13,50.21,0,0,DAIRY,2162,1
33745889,2087543,2017-07-31,4.0,False,D,13,50.21,0,0,DAIRY,2162,1
33745907,2087567,2017-07-31,9.0,False,D,13,50.21,0,0,DAIRY,2162,1
33745929,2087978,2017-07-31,7.0,True,D,13,50.21,0,0,BEVERAGES,1114,0
33745946,2088922,2017-07-31,21.0,False,D,13,50.21,0,0,GROCERY I,1076,0
33745974,2089250,2017-07-31,2.0,True,D,13,50.21,0,0,CLEANING,3020,0
33745981,2089276,2017-07-31,2.0,False,D,13,50.21,0,0,GROCERY I,1006,0
33745988,2089339,2017-07-31,3.0,False,D,13,50.21,0,0,GROCERY I,1006,0
33746021,2099230,2017-07-31,1.0,False,D,13,50.21,0,0,BEAUTY,4252,0
33746029,2101795,2017-07-31,2.0,False,D,13,50.21,0,0,BEAUTY,4222,0
33746067,2106464,2017-07-31,39.0,True,D,13,50.21,0,0,BEVERAGES,1148,0
33746084,2108569,2017-07-31,3.0,False,D,13,50.21,0,0,GROCERY I,1086,0
33746105,2109909,2017-07-31,1.0,False,D,13,50.21,0,0,GROCERY I,1074,0
33746113,2110456,2017-07-31,12.0,False,D,13,50.21,0,0,BEVERAGES,1120,0
33746131,2111684,2017-07-31,5.0,False,D,13,50.21,0,0,BEVERAGES,1120,0
33746143,2111870,2017-07-31,2.0,False,D,13,50.21,0,0,PRODUCE,2028,1
33746153,2112404,2017-07-31,5.0,False,D,13,50.21,0,0,DAIRY,2108,1
33746168,2113343,2017-07-31,5.0,False,D,13,50.21,0,0,BEVERAGES,1114,0
33746182,2113914,2017-07-31,14.0,True,D,13,50.21,0,0,CLEANING,3040,0
33746199,2114566,2017-07-31,2.0,False,D,13,50.21,0,0,GROCERY I,1034,0
33746219,2116416,2017-07-31,3.0,False,D,13,50.21,0,0,GROCERY I,1060,0
33746237,2122188,2017-07-31,3.0,False,D,13,50.21,0,0,GROCERY I,1084,0
33746249,2124052,2017-07-31,3.0,True,D,13,50.21,0,0,"LIQUOR,WINE,BEER",1318,0

In [96]:
dd2=pd.read_csv('..\\dd1.csv')

In [98]:
families=dd2.family.values

In [101]:
families.shape

(3998,)

In [102]:
itemnbrs=dd2.item_nbr.values

In [103]:
itemnbrs

array([ 121964,  172995,  270522, ...,  804098, 1110679, 1247036], dtype=int64)

In [105]:
itemnbrs.shape

(3998,)

In [114]:
dic_feb={'family':families, 'item_nbr':itemnbrs}

In [108]:
train.head()

,item_nbr,date,store_nbr,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
0,103501,2015-02-13,10,2.0,False,C,15,52.66,0,0,CLEANING,3008,0
1,103501,2015-02-13,17,7.0,False,C,12,52.66,0,0,CLEANING,3008,0
2,103501,2015-02-13,18,2.0,False,B,16,52.66,0,0,CLEANING,3008,0
3,103501,2015-02-13,20,7.0,False,B,6,52.66,0,0,CLEANING,3008,0
4,103520,2015-02-13,1,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0

In [153]:
train_march=train.iloc[train.index[train['date'].apply(lambda i: i.split('-')[1]) == '03']]

In [156]:
train_march=train_march.reset_index()

In [157]:
train_march

,index,item_nbr,date,store_nbr,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
0,416541,103501,2015-03-01,9,7.0,False,B,6,NaN,0,0,CLEANING,3008,0
1,416542,103501,2015-03-01,17,9.0,False,C,12,NaN,0,0,CLEANING,3008,0
2,416543,103501,2015-03-01,18,6.0,False,B,16,NaN,0,0,CLEANING,3008,0
3,416544,103501,2015-03-01,20,11.0,False,B,6,NaN,0,0,CLEANING,3008,0
4,416545,103520,2015-03-01,1,1.0,False,D,13,NaN,0,0,GROCERY I,1028,0
5,416546,103520,2015-03-01,2,4.0,False,D,13,NaN,0,0,GROCERY I,1028,0
6,416547,103520,2015-03-01,3,2.0,False,D,8,NaN,0,0,GROCERY I,1028,0
7,416548,103520,2015-03-01,4,4.0,False,D,9,NaN,0,0,GROCERY I,1028,0
8,416549,103520,2015-03-01,6,2.0,False,D,13,NaN,0,0,GROCERY I,1028,0
9,416550,103520,2015-03-01,7,1.0,False,D,8,NaN,0,0,GROCERY I,1028,0
10,416551,103520,2015-03-01,8,5.0,False,D,8,NaN,0,0,GROCERY I,1028,0
11,416552,103520,2015-03-01,9,3.0,False,B,6,NaN,0,0,GROCERY I,1028,0
12,416553,103520,2015-03-01,18,4.0,False,B,16,NaN,0,0,GROCERY I,1028,0
13,416554,103520,2015-03-01,20,1.0,False,B,6,NaN,0,0,GROCERY I,1028,0
14,416555,103520,2015-03-01,44,12.0,False,A,5,NaN,0,0,GROCERY I,1028,0
15,416556,103520,2015-03-01,45,15.0,False,A,11,NaN,0,0,GROCERY I,1028,0
16,416557,103520,2015-03-01,46,3.0,False,A,14,NaN,0,0,GROCERY I,1028,0
17,416558,103520,2015-03-01,47,9.0,False,A,14,NaN,0,0,GROCERY I,1028,0
18,416559,103520,2015-03-01,48,4.0,False,A,14,NaN,0,0,GROCERY I,1028,0
19,416560,103520,2015-03-01,49,5.0,False,A,11,NaN,0,0,GROCERY I,1028,0
20,416561,103665,2015-03-01,1,1.0,False,D,13,NaN,0,0,BREAD/BAKERY,2712,1
21,416562,103665,2015-03-01,2,3.0,False,D,13,NaN,0,0,BREAD/BAKERY,2712,1
22,416563,103665,2015-03-01,3,9.0,False,D,8,NaN,0,0,BREAD/BAKERY,2712,1
23,416564,103665,2015-03-01,4,2.0,False,D,9,NaN,0,0,BREAD/BAKERY,2712,1
24,416565,103665,2015-03-01,6,2.0,False,D,13,NaN,0,0,BREAD/BAKERY,2712,1
25,416566,103665,2015-03-01,7,6.0,False,D,8,NaN,0,0,BREAD/BAKERY,2712,1
26,416567,103665,2015-03-01,8,1.0,False,D,8,NaN,0,0,BREAD/BAKERY,2712,1
27,416568,103665,2015-03-01,18,3.0,False,B,16,NaN,0,0,BREAD/BAKERY,2712,1
28,416569,103665,2015-03-01,20,5.0,False,B,6,NaN,0,0,BREAD/BAKERY,2712,1
29,416570,103665,2015-03-01,44,10.0,False,A,5,NaN,0,0,BREAD/BAKERY,2712,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332081,28617727,2061404,2017-03-31,48,11.0,False,A,14,50.54,0,0,BEVERAGES,1120,0
3332082,28617728,2061404,2017-03-31,49,42.0,False,A,11,50.54,0,0,BEVERAGES,1120,0
3332083,28617729,2061781,2017-03-31,3,6.0,False,D,8,50.54,0,0,GROCERY I,1074,0
3332084,28617730,2067056,2017-03-31,4,1.0,False,D,9,50.54,0,0,GROCERY I,1016,0
3332085,28617731,2067056,2017-03-31,8,6.0,False,D,8,50.54,0,0,GROCERY I,1016,0
3332086,28617732,2067056,2017-03-31,45,10.0,False,A,11,50.54,0,0,GROCERY I,1016,0
3332087,28617733,2068536,2017-03-31,3,9.0,False,D,8,50.54,0,0,GROCERY I,1028,0
3332088,28617734,2068536,2017-03-31,4,5.0,False,D,9,50.54,0,0,GROCERY I,1028,0
3332089,28617735,2068536,2017-03-31,6,5.0,False,D,13,50.54,0,0,GROCERY I,1028,0
3332090,28617736,2068536,2017-03-31,7,9.0,False,D,8,50.54,0,0,GROCERY I,1028,0
3332091,28617737,2068536,2017-03-31,8,10.0,False,D,8,50.54,0,0,GROCERY I,1028,0
3332092,28617738,2068536,2017-03-31,9,3.0,False,B,6,50.54,0,0,GROCERY I,1028,0
3332093,28617739,2068536,2017-03-31,20,3.0,False,B,6,50.54,0,0,GROCERY I,1028,0
3332094,28617740,2068536,2017-03-31,45,1.0,False,A,11,50.54,0,0,GROCERY I,1028,0
3332095,28617741,2068536,2017-03-31,46,4.0,False,A,14,50.54,0,0,GROCERY I,1028,0
3332096,28617742,2068536,2017-03-31,48,7.0,False,A,14,50.54,0,0,GROCERY I,1028,0
3332097,28617743,2068536,2017-03-31,49,5.0,False,A,11,50.54,0,0,GROCERY I,1028,0
3332098,28617744,2075733,2017-03-31,17,1.0,False,C,12,50.54,0,0,GROCERY I,1068,0
3332099,28617745,2075733,2017-03-31,20,1.0,False,B,6,50.54,0,0,GROCERY I,1068,0
3332100,28617746,2076761,2017-03-31,2,1.0,False,D,13,50.54,0,0,GROCERY I,1068,0
3332101,28617747,2076761,2017-03-31,3,1.0,False,D,8,50.54,0,0,GROCERY I,1068,0
3332102,28617748,2076761,2017-03-31,4,1.0,False,D,9,50.54,0,0,GROCERY I,1068,0
3332103,28617749,2076761,2017-03-31,7,2.0,False,D,8,50.54,0,0,GROCERY I,1068,0
3332104,28617750,2076761,2017-03-31,9,4.0,False,B,6,50.54,0,0,GROCERY I,1068,0
3332105,28617751,2076761,2017-03-31,18,2.0,False,B,16,50.54,0,0,GROCERY I,1068,0
3332106,28617752,2076761,2017-03-31,20,1.0,False,B,6,50.54,0,0,GROCERY I,1068,0
3332107,28617753,2076761,2017-03-31,45,1.0,False,A,11,50.54,0,0,GROCERY I,1068,0
3332108,28617754,2076761,2017-03-31,46,3.0,False,A,14,50.54,0,0,GROCERY I,1068,0
3332109,28617755,2076761,2017-03-31,47,2.0,False,A,14,50.54,0,0,GROCERY I,1068,0
3332110,28617756,2076761,2017-03-31,48,3.0,False,A,14,50.54,0,0,GROCERY I,1068,0

In [133]:
train_feb_str1=train_feb.iloc[train_feb.index[train_feb.store_nbr==1]]

In [139]:
train_feb_str1=train_feb_str1.drop('index', axis=1)

In [142]:
train_feb_str1

,item_nbr,date,store_nbr,unit_sales,onpromotion,type,cluster,dcoilwtico,hol_National,hol_Regional,family,class,perishable
0,103520,2015-02-13,1,6.0,False,D,13,52.66,0,0,GROCERY I,1028,0
1,105574,2015-02-13,1,3.0,False,D,13,52.66,0,0,GROCERY I,1045,0
2,105575,2015-02-13,1,9.0,False,D,13,52.66,0,0,GROCERY I,1045,0
3,105577,2015-02-13,1,5.0,False,D,13,52.66,0,0,GROCERY I,1045,0
4,106716,2015-02-13,1,1.0,False,D,13,52.66,0,0,GROCERY I,1032,0
5,108698,2015-02-13,1,1.0,True,D,13,52.66,0,0,DELI,2644,1
6,108786,2015-02-13,1,2.0,False,D,13,52.66,0,0,CLEANING,3044,0
7,108797,2015-02-13,1,1.0,False,D,13,52.66,0,0,GROCERY I,1004,0
8,108862,2015-02-13,1,1.0,False,D,13,52.66,0,0,GROCERY I,1062,0
9,108952,2015-02-13,1,3.0,False,D,13,52.66,0,0,CLEANING,3024,0
10,111223,2015-02-13,1,7.0,False,D,13,52.66,0,0,GROCERY I,1034,0
11,111397,2015-02-13,1,4.0,False,D,13,52.66,0,0,GROCERY I,1072,0
12,112830,2015-02-13,1,1.0,False,D,13,52.66,0,0,GROCERY I,1044,0
13,114778,2015-02-13,1,3.0,False,D,13,52.66,0,0,GROCERY I,1016,0
14,114790,2015-02-13,1,3.0,False,D,13,52.66,0,0,GROCERY I,1004,0
15,114799,2015-02-13,1,1.0,False,D,13,52.66,0,0,PERSONAL CARE,4126,0
16,114800,2015-02-13,1,8.0,False,D,13,52.66,0,0,PERSONAL CARE,4126,0
17,115267,2015-02-13,1,1.0,False,D,13,52.66,0,0,CLEANING,3034,0
18,115611,2015-02-13,1,7.0,True,D,13,52.66,0,0,GROCERY I,1014,0
19,115693,2015-02-13,1,2.0,False,D,13,52.66,0,0,GROCERY I,1040,0
20,115720,2015-02-13,1,8.0,False,D,13,52.66,0,0,GROCERY I,1084,0
21,115850,2015-02-13,1,14.0,False,D,13,52.66,0,0,GROCERY I,1004,0
22,115891,2015-02-13,1,4.0,False,D,13,52.66,0,0,GROCERY I,1016,0
23,115892,2015-02-13,1,5.0,False,D,13,52.66,0,0,GROCERY I,1016,0
24,115893,2015-02-13,1,12.0,False,D,13,52.66,0,0,GROCERY I,1016,0
25,115894,2015-02-13,1,3.0,False,D,13,52.66,0,0,GROCERY I,1016,0
26,116017,2015-02-13,1,4.0,False,D,13,52.66,0,0,GROCERY I,1072,0
27,116018,2015-02-13,1,1.0,False,D,13,52.66,0,0,GROCERY I,1072,0
28,116311,2015-02-13,1,1.0,False,D,13,52.66,0,0,CLEANING,3090,0
29,119026,2015-02-13,1,1.0,False,D,13,52.66,0,0,CLEANING,3026,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126796,2036460,2017-02-28,1,1.0,False,D,13,54.00,0,1,DELI,2644,1
126797,2037008,2017-02-28,1,2.0,False,D,13,54.00,0,1,HOME CARE,3106,0
126798,2037487,2017-02-28,1,5.0,False,D,13,54.00,0,1,PRODUCE,2006,1
126799,2040862,2017-02-28,1,7.0,False,D,13,54.00,0,1,BEVERAGES,1120,0
126800,2042210,2017-02-28,1,1.0,True,D,13,54.00,0,1,PRODUCE,2014,1
126801,2042436,2017-02-28,1,1.0,False,D,13,54.00,0,1,BEVERAGES,1122,0
126802,2042941,2017-02-28,1,61.0,False,D,13,54.00,0,1,BEVERAGES,1148,0
126803,2042947,2017-02-28,1,27.0,False,D,13,54.00,0,1,BEVERAGES,1148,0
126804,2045545,2017-02-28,1,1.0,False,D,13,54.00,0,1,BEVERAGES,1124,0
126805,2046789,2017-02-28,1,3.0,False,D,13,54.00,0,1,LAWN AND GARDEN,6920,0
126806,2046805,2017-02-28,1,15.0,True,D,13,54.00,0,1,BEVERAGES,1148,0
126807,2046916,2017-02-28,1,13.0,True,D,13,54.00,0,1,BEVERAGES,1148,0
126808,2047211,2017-02-28,1,2.0,False,D,13,54.00,0,1,"LIQUOR,WINE,BEER",1318,0
126809,2048113,2017-02-28,1,3.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126810,2048141,2017-02-28,1,1.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126811,2048163,2017-02-28,1,3.0,True,D,13,54.00,0,1,GROCERY I,1016,0
126812,2048182,2017-02-28,1,1.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126813,2048242,2017-02-28,1,7.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126814,2048300,2017-02-28,1,3.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126815,2048323,2017-02-28,1,2.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126816,2048362,2017-02-28,1,5.0,True,D,13,54.00,0,1,GROCERY I,1016,0
126817,2048406,2017-02-28,1,2.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126818,2048471,2017-02-28,1,2.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126819,2048515,2017-02-28,1,16.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126820,2048609,2017-02-28,1,4.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126821,2048624,2017-02-28,1,5.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126822,2048633,2017-02-28,1,1.0,False,D,13,54.00,0,1,GROCERY I,1016,0
126823,2049778,2017-02-28,1,16.0,False,D,13,54.00,0,1,BEVERAGES,1148,0
126824,2053590,2017-02-28,1,1.0,False,D,13,54.00,0,1,DAIRY,2172,1
126825,2057231,2017-02-28,1,15.4,False,D,13,54.00,0,1,PREPARED FOODS,2904,1

In [173]:
series1=train_feb_str1.groupby(by=['family', 'item_nbr']).mean()['unit_sales']

In [174]:
train_feb_str2=train_feb.iloc[train_feb.index[train_feb.store_nbr==2]]
train_feb_str2.reset_index()
train_feb_str2=train_feb_str2.drop('index',axis=1)

In [175]:
series2=train_feb_str2.groupby(by=['family', 'item_nbr']).mean()['unit_sales']

In [177]:
pd.concat([series1,series2], axis=1, keys=[1, 2])

                                            1          2
family                     item_nbr
AUTOMOTIVE                 121964    1.142857   1.217391
                           270522    1.625000   1.657143
                           312317    1.000000   1.166667
                           461432    1.000000   1.090909
                           511394    1.000000   1.066667
                           1009512   1.166667   1.545455
                           1085148   1.636364   1.285714
                           1118683   2.333333   2.480000
                           1147731   1.631579   1.718750
                           1903428   1.260870   1.320000
                           1903432   1.400000   1.000000
                           1969477   1.000000   1.000000
                           1969485   1.214286   1.500000
                           1969863   1.333333   1.600000
                           1969899   1.875000   1.307692
BABY CARE                  1490588        NaN   2.000000
BEAUTY                     617763    1.238095   1.277778
                           673496    1.000000   1.200000
                           716958    1.000000   1.055556
                           958514    1.294118   1.581395
                           1158705   1.272727   1.238095
                           1253708   1.111111   1.111111
                           1449487   1.000000   1.500000
                           1471956   1.870968   2.117647
                           1911336   1.000000   2.000000
                           1935388        NaN   2.090909
                           1935465   1.000000   1.500000
                           1965358   1.666667   1.277778
BEVERAGES                  119624    5.122807   7.736111
                           165550    4.109091   6.565217
...                                       ...        ...
PRODUCE                    1960944   6.826923  10.636364
                           1961065        NaN   5.936170
                           1961112   3.106522   6.321038
                           1961161   3.714286   9.375000
                           1961293   5.269231   7.600000
                           1964111   6.210526   4.867925
                           1966629   6.857143   4.105263
                           1986524        NaN   7.470588
                           1986603        NaN   8.470588
                           1988754   3.600000   8.892857
                           1990578   3.655316  12.115889
                           1990673   7.115600  22.720321
                           2018753   5.619048  12.280000
                           2031266   6.259259   4.734694
                           2031273   5.133333   6.057692
                           2031309   3.088889   2.738095
                           2031378   7.384615   8.714286
                           2032088   6.777778   9.392857
                           2037487   4.547619   7.959184
                           2040637   5.750000   7.272727
                           2042210   8.764706   6.000000
                           2049081        NaN   6.333333
SCHOOL AND OFFICE SUPPLIES 1583544   1.000000   1.687500
SEAFOOD                    252698    4.674371   3.008867
                           589403    2.075000   2.142857
                           695758    7.613699   7.919178
                           699745    4.129466   8.277958
                           741201    5.246377  11.383562
                           1110679   3.606061   3.603448
                           1247036   3.820513   2.930233

[3418 rows x 2 columns]

In [180]:
def mean_unit_sales_by_month(train_df):

    months=['01','02','03','04','05','06','07','08','09','10','11','12']
    stores=[1, 2, 3, 4, 6, 7, 8, 9, 10, 17, 18, 20, 44, 45, 46, 47, 48, 49]
    for i in range(len(months)):
        month=months[i]
        train_month=train.iloc[train.index[train['date'].apply(lambda i:i.split('-')[1]) == month ]]
        train_month=train_month.reset_index()
        train_month=train_month.drop('index', axis=1)
        
        keys=[]
        serieslist=[]
        for i in range(len(stores)):
            storenbr=stores[i]
            train_month_str=train_month.iloc[train_month.index[train_month.store_nbr==storenbr]]
            train_month_str=train_month_str.reset_index()
            train_month_str=train_month_str.drop('index', axis=1)
           
            series=train_month_str.groupby(by=['family','item_nbr']).mean()['unit_sales']
            serieslist.append(series)
            keys.append(storenbr)

            if i > 0:
                ddf=pd.concat(serieslist, axis=1, keys=keys)
        
        ddf.to_csv('..\\mean_unit_sales_{}.csv'.format(month))
        print('{}.csv is saved'.format(month))

In [181]:
mean_unit_sales_by_month(train)

01.csv is saved
02.csv is saved
03.csv is saved
04.csv is saved
05.csv is saved
06.csv is saved
07.csv is saved
08.csv is saved
09.csv is saved
10.csv is saved
11.csv is saved
12.csv is saved